In [ ]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-08-04 00:14:31,-23.1203,-134.9692,70.11,61,87,16.96
1,1,Vaini,TO,2021-08-04 00:18:24,-21.2000,-175.2000,73.56,88,40,14.97
2,2,Bredasdorp,ZA,2021-08-04 00:18:24,-34.5322,20.0403,54.72,82,36,3.44
3,3,New Norfolk,AU,2021-08-04 00:18:24,-42.7826,147.0587,52.92,83,72,1.01
4,4,Faanui,PF,2021-08-04 00:18:25,-16.4833,-151.7500,79.20,72,42,9.62

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-08-04 00:14:31,-23.1203,-134.9692,70.11,61,87,16.96
1,1,Vaini,TO,2021-08-04 00:18:24,-21.2000,-175.2000,73.56,88,40,14.97
4,4,Faanui,PF,2021-08-04 00:18:25,-16.4833,-151.7500,79.20,72,42,9.62
6,6,Kapaa,US,2021-08-04 00:18:26,22.0752,-159.3190,84.18,76,90,4.00
12,12,Jamestown,US,2021-08-04 00:18:28,42.0970,-79.2353,71.19,56,1,0.00
19,19,Hithadhoo,MV,2021-08-04 00:18:30,-0.6000,73.0833,81.45,76,100,9.06
21,21,Avarua,CK,2021-08-04 00:15:16,-21.2078,-159.7750,75.25,78,75,6.91
28,28,Turayf,SA,2021-08-04 00:18:33,31.6725,38.6637,77.25,27,0,9.22
29,29,Bambous Virieux,MU,2021-08-04 00:18:33,-20.3428,57.7575,70.05,73,20,8.05
33,33,Butaritari,KI,2021-08-04 00:18:35,3.0707,172.7902,83.39,71,96,13.33

In [21]:
preferred_cities_df.count()

City_ID       238
City          238
Country       238
Date          238
Lat           238
Lng           238
Max Temp      238
Humidity      238
Cloudiness    238
Wind Speed    238
dtype: int64

In [22]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [23]:
preferred_cities_df.notnull().sum()

City_ID       238
City          238
Country       238
Date          238
Lat           238
Lng           238
Max Temp      238
Humidity      238
Cloudiness    238
Wind Speed    238
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Rikitea      PF     70.11 -23.1203 -134.9692
1             Vaini      TO     73.56 -21.2000 -175.2000
4            Faanui      PF     79.20 -16.4833 -151.7500
6             Kapaa      US     84.18  22.0752 -159.3190
12        Jamestown      US     71.19  42.0970  -79.2353
19        Hithadhoo      MV     81.45  -0.6000   73.0833
21           Avarua      CK     75.25 -21.2078 -159.7750
28           Turayf      SA     77.25  31.6725   38.6637
29  Bambous Virieux      MU     70.05 -20.3428   57.7575
33       Butaritari      KI     83.39   3.0707  172.7902

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,70.11,-23.1203,-134.9692,People ThankYou
1,Vaini,TO,73.56,-21.2000,-175.2000,Keleti Beach Resort
4,Faanui,PF,79.20,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
6,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Jamestown,US,71.19,42.0970,-79.2353,Hampton Inn & Suites Jamestown
19,Hithadhoo,MV,81.45,-0.6000,73.0833,Scoop Guest House
21,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
28,Turayf,SA,77.25,31.6725,38.6637,Turaif
29,Bambous Virieux,MU,70.05,-20.3428,57.7575,Casa Tia Villa
33,Butaritari,KI,83.39,3.0707,172.7902,Isles Sunset Lodge

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))