## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Babina,IN,75.76,overcast clouds,25.2500,78.4667,Padri baba mandir
1,4,Korla,CN,80.31,overcast clouds,41.7597,86.1469,Gulisitan Hotel
2,5,Hudson Bay,CA,77.79,scattered clouds,52.8500,-102.3842,Norwood Motel LTD
3,6,Hithadhoo,MV,80.46,moderate rain,-0.6000,73.0833,Scoop Guest House
4,7,Jamestown,US,76.59,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == 'Washington']
vacation_end = vacation_df.loc[vacation_df["City"] == 'Washington']
vacation_stop1 = vacation_df.loc[vacation_df["City"] == 'Missoula']
vacation_stop2 = vacation_df.loc[vacation_df["City"] == 'Green River'] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == 'Alamosa']

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
181,429,Washington,US,89.94,clear sky,47.5001,-120.5015,"Cashmere Cider Mill Guest Suites, Weddings & T..."

In [25]:
import numpy
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start.iloc[0,5:7].to_numpy())
end = tuple(vacation_end.iloc[0,5:7].to_numpy())
stop1 = tuple(vacation_stop1.iloc[0,5:7].to_numpy())
stop2 = tuple(vacation_stop2.iloc[0,5:7].to_numpy())
stop3 = tuple(vacation_stop3.iloc[0,5:7].to_numpy())

(47.5001, -120.5015)
(47.5001, -120.5015)
(47.0166, -113.8009)
(41.5286, -109.4662)

(37.4695, -105.87)

In [28]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING' or 'BICYCLING' or 'WALKING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,429,Washington,US,89.94,clear sky,47.5001,-120.5015,"Cashmere Cider Mill Guest Suites, Weddings & T..."
1,587,Missoula,US,72.84,scattered clouds,47.0166,-113.8009,Gold Creek Cabin
2,95,Green River,US,83.19,few clouds,41.5286,-109.4662,Hampton Inn & Suites Green River
3,313,Alamosa,US,82.38,clear sky,37.4695,-105.8700,Best Western Alamosa Inn

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))